################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.ionide/symbolCache.db
/.vs/hrv_analyzer/v16/.suo
/.vs
